.venv_tech-news/
.env
data/audio/tmp/*
data/audio/*.mp3
data/audio/*.wav
data/image/*
data/token/*
data/video/*
!data/audio/tmp/hoge
!data/audio/audio.wav
!data/image/2023年11月27日.png
!data/video/example.mp4
!data/token/hoge
client_secrets.json
.DS_Store
*/__pycache__